api_key:
api_secret:
cooccurrence_threshold_for_characters: 20
cooccurrence_threshold_for_creators: 10
min_comics_for_characters: 10
min_comics_for_creators: 10
min_stories_for_characters: 10
min_stories_for_creators: 15
