/* -------- General style ------------*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "DejaVu Sans Mono", monospace;
  background-color: black;
}

.hidden {
  display: none!important;
}

/* App colors & Fonts */

:root {
  --marvel-red: #ec1d24;
  --marvel-red-light: #ff4f56;
  --marvel-red-dark: #ba0000;
}
.red {
  color: var(--marvel-red);
}
.lightred {
  color: var(--marvel-red-light);
}

@font-face {
  font-family: "ImpactLoad";
  src: url(./impact.ttf) format("truetype");
}

/* Discrete selected texts */

::selection {
  background-color: #000;
}
::-moz-selection {
  background-color: #000;
}

input[type="search"]::selection {
  background-color: #AAA;
}
input[type="search"]::-moz-selection {
  background-color: #AAA;
}

/* Buttons */

button {
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #eee;
  font-size: 15px;
  font-weight: bold;
  text-indent: 0px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: 2px solid #555;
  border-radius: 5px;
}

button.selected {
  background-color: var(--marvel-red-light);
  border: 2px solid #222;
}
button.selected img {
  filter: invert(100%);
}

button.close-button {
  position: fixed;
  top: 0;
  right: 2px;
  margin: 2px!important;
}

button img {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}


/* Hover tooltips on actions */

#tooltip {
  display: none;
  position: fixed;
  background-color: #555;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  z-index: 25;
  min-width: 80px;
  max-width: 200px;
  text-align: center;
}
#tooltip span {
  display: inline-block;
}

/* Missing JS/WebGL disclaimers */

#webgl-disclaimer, #noscript {
  z-index: 10;
  opacity: 0.8;
}
#webgl-disclaimer {
  display: none;
}
#webgl-disclaimer p, #noscript p {
  position: relative;
  width: 66%;
  top: 30%;
  left: 17%;
  text-align: center;
  font-size: 22px;
  color: #999;
}


/* -------- Main sidebar ------------*/

#sidebar {
  width: 300px;
  height: 100%;
  margin: 0;
  margin-right: 2px;
  overflow: hidden;
  font-size: 14px;
  background-color: #222;
  color: #AAA;
  float: left;
  text-align: center;
}
#sidebar a, #sidebar a:visited, #comics-bar a, #comics-bar a:visited {
  color: #af4f4f;
}

/* Logo & Title */

#header {
  padding-bottom: 10px;
}

.logo {
  float: left;
  padding: 3px 0 0 4px;
  height: 47px;
}

h1 {
  font-size: 32px;
  background-color: var(--marvel-red);
  color: white;
  padding: 5px 0;
  margin: 0 0 10px 0;
}
.marvel {
  font-family: "Impact", "ImpactLoad", monospace;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: -1px;
  transform: scaleY(1.2);
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}

h2 {
  color: #AAA;
  font-size: 17px;
  margin: 0 10px;
}
#title {
  display: inline;
}
#node-label {
  display: none;
}

/* Text info zone */

.sidebar-text {
  clear: both;
  display: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  line-height: 16px;
}
#explanations {
  border-top: 1px dashed #444;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
#explanations p {
  margin: 7px 25px;
}

#order {
  min-width: 20px;
  display: inline-block;
}
#clusters-legend b span {
  white-space: nowrap;
}

#node-details {
  text-align: center;
  max-height: 60%;
  padding-top: 1px;
}
#node-img, #comic-img {
  max-width: 75%;
  max-height: 400px;
  cursor: pointer;
}
#node-extra {
  margin: 7px 25px;
}

/* View more buttons */

#view-node, #view-comics, #view-all-comics {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 10px 0!important;
  text-transform: uppercase;
  line-height: 20px;
}
#view-all-comics {
  padding-top: 5px;
}
#view-node > span, #view-comics > span, #view-all-comics span {
  width: 170px;
  background-color: var(--marvel-red);
  color: #DDD!important;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 5px;
}

#sidebar .selected {
  opacity: 0.35;
  cursor: progress;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}
#sidebar .selected.left, #sidebar .selected.right {
  opacity: 1;
}

/* Switch buttons */

h5 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 8px;
}

#choices {
  position: absolute;
  bottom: 36px;
  width: 300px;
  padding: 8px 0 10px 0;
  margin: 0;
  border-top: 1px dashed #444;
}
.network-choice {
  display: flex;
  justify-content: center;
  position:relative;
  width: 100%;
  margin-bottom: 10px;
  height: 28px;
}
#choices .network-choice:last-child {
  margin-bottom: 0;
}
#choices .network-choice:first-child {
  margin-top: 0;
}

.network-switch-label, .toggle {
  height: 100%;
  border-radius: 100px;
}
.network-switch-label {
  display: block;
  width: 236px;
  background-color: white;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 116px;
  background-color: var(--marvel-red);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: -2px 0 0 -2px;
  border: 2px solid #555;
}

.names {
  font-size: 90%;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  user-select: none;
}
.names > div {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right{
  width: 50%;
  text-align: center;
}
.left {
  color: white;
}
.right {
  color: var(--marvel-red);
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:disabled + .network-switch-label {
  cursor: progress;
}
[type="checkbox"]:checked + .network-switch-label .toggle {
  transform: translateX(100%);
}
[type="checkbox"]:checked + .network-switch-label .left {
  color: var(--marvel-red);
}
[type="checkbox"]:checked + .network-switch-label .right {
  color: white;
}

/* Credits & Help Footer */

#credits {
  position: absolute;
  bottom: 0px;
  width: 300px;
  line-height: 13px;
  border-top: 1px dashed #444;
  background-color: #222;
  z-index: 2;
}
#credits p {
  font-size: 12px;
  padding: 3px 0px 0 34px;
  margin: 0;
}
#credits p:last-child {
  padding-bottom: 3px;
}

#help {
  position: absolute;
  left: 0;
  margin: 4px;
  width: 28px;
  height: 28px;
  background-color: var(--marvel-red)!important;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-indent: 0px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-radius: 20px;
}


/* -------- Comics Histogram ------------*/

#node-histogram, #full-histogram {
  margin-top: 10px;
}
#comics-histogram {
  margin: 4px 0 1px 0;
}

#histogram-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

#histogram, #histogram-hover {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
  height: 25px;
}
#histogram {
  border-bottom: 1px solid var(--marvel-red);
}
.histobar {
  display: block;
  background-color: var(--marvel-red);
  box-shadow: 0px 0px 2px var(--marvel-red);
}

#histogram-hover {
  margin-top: -25px;
  cursor: cell;
}
.histobar-hover {
  height: 26px;
  background-color: #555;
  opacity: 0;
}

#histo-legend {
  font-size: 12px;
  font-weight: bold;
  color: #AAA;
  padding: 4px 0 4px 2px;
  text-align: left;
}
#histo-legend div {
  position: relative;
  display: inline-block;
  width: 0;
}

#histogram-tooltip {
  display: none;
  position: absolute;
  background-color: #555;
  border-radius: 8px;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  z-index: 1;
}


/* -------- Extra sidebar with comics ------------*/

#comics-bar {
  position: absolute;
  bottom: 0;
  width: 298px;
  height: calc(100% - 2px);
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  background-color: #222;
  color: #AAA;
  float: left;
  text-align: center;
  border-left: 1px solid #333;
  transform: scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 6;
}

#comics, #comic-details {
  padding: 5px;
  text-align: center;
  overflow-y: auto;
  line-height: 20px;
}
#comics {
  border-top: 1px dashed #444;
  overflow-x: hidden;
}
#comic-details {
  height: calc(100% / 2);
  border-top: 1px dashed #444;
}

/* Actions Buttons */

#comics-actions {
  width: 100%;
  height: 40px;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0;
}
#comics-actions button {
  margin: 0;
}

button.sort-button.selected {
  cursor: default;
}
button.sort-button img {
  width: 26px;
  height: 26px;
  margin: 3px 0px 0px 1px;
}

#comics-pause {
  display: none;
}

#filter-comics {
  display: none;
}
#filter-input {
  width: calc(100% - 4px);
  margin: -2px 2px 4px 2px;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 14px;
  border: 2px solid #555;
  border-radius: 5px;
  line-height: 24px;
  padding: 0 10px;
}

/* Comics List */

#comics-bar h3 {
  margin: 0;
  font-size: 16px;
  padding: 0 4px;
}
#comics-title {
  color: var(--marvel-red);
  font-weight: bold;
}

#comics-list {
  display: contents;
}
#comics-list li {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  list-style-type: none;
}
#comics-list li:nth-child(even) {
  background: #2F2F2F;
}
@media (hover: hover) and (pointer: fine) {
  #comics-list li:hover {
    background: var(--marvel-red-dark);
    color: white;
  }
}
#comics-list li.selected {
  background: var(--marvel-red);
  color: white!important;
  font-weight: bold;
}
#comics-cache {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

/* Single Comic Details */

#comic-img {
  max-width: 90%;
  padding-top: 5px;
}
#comic-title {
  margin: 0;
}
#comic-desc {
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
#comic-url {
  display: none;
}

.comic-entities {
  display: none;
  width: calc(50% - 4px);
  padding: 0;
  margin: 0;
  float: left;
}
.comic-entities h4 {
  margin: 10px 0 5px 0;
}
.comic-entities ul {
  padding: 0;
  margin: 0px 0px 10px 0px;
}
.comic-entities li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.comic-entities li.entity-link {
  cursor: pointer;
}
#comic-creators {
  padding: 0 2px 0 0;
}
#comic-characters {
  padding: 0 0 0 2px;
}
#comic-creators li:nth-child(even) {
  background: #2F2F2F;
}
#comic-characters li:nth-child(odd) {
  background: #2F2F2F;
}


/* -------- Graph zone ------------*/

.sigma-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

/* Creators era labels layer */

#clusters-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cluster-label {
  position: absolute;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 14px;
  text-align: center;
}

/* Action Buttons */

#controls {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 156px;
}
#sigma-buttons {
  display: flex;
  vertical-align: middle;
}

#sigma-buttons button {
  margin: 1px;
}
#zoom-reset img {
  margin: 2px;
}

#regscreen {
  display: none;
}
#fullscreen {
  display: block;
}
@media all and (display-mode: fullscreen) {
  #regscreen {
    display: block;
  }
  #fullscreen {
    display: none;
  }
}

#search {
  position: fixed;
  bottom: 5px;
  margin: 2px;
  margin-right: 5px;
  width: 156px;
}
#search-icon {
  position: fixed;
  bottom: 11px;
  width: 18px;
  height: 18px;
}
#search input {
  width: 100%;
  padding: 4px 5px 4px 27px;
  text-align: center;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 14px;
  line-height: 16px;
  background: #eee;
  display: block;
  border: 2px solid #555;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#suggestions-select {
  display: none;
  width: 152px;
  height: 28px;
  border: 2px solid #555;
  border-radius: 5px;
  padding-left: 20px;
}

/* Hint legend box */

#legend {
  position: absolute;
  opacity: 0;
  top: 6px;
  line-height: 14px;
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  text-align: center;
  color: white;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
#legend p {
  margin: 0;
}


/* -------- Loaders ------------*/

.loader {
  position: absolute;
  z-index: 5;
  display: none;
  opacity: 0.85;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.loader img {
  width: 45px;
}

#loader {
  top: calc(50% - 25px);
  left: calc(50% + 125px);
  opacity: 0;
}

#loader-comics {
  bottom: 0;
  right: 0;
  padding: 0 5px;
  display: none;
}

#loader-list {
  display: none;
}
#loader-list img {
  position: relative;
  top: 35px;
  left: 0;
  width: 45px;
}


/* -------- Modals ------------*/

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  cursor: pointer;
}

/* FullScreen images modal */

#modal-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#modal-img {
  max-width: calc(100% - 15px);
  max-height: calc(100% - 55px);
  z-index: 20;
  vertical-align: middle;
  margin: 5px 5px 50px 0;
}
#modal-img-missing {
  display: none;
  position: absolute;
  top: 45%;
  left: calc(50% - 150px);
  color: var(--marvel-red-light);
  font-size: 36px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 25;
}

#modal-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
#modal-actions button {
  margin: 5px 10px;
  display: inline-block;
}
#modal button img {
  z-index: -1;
}
#modal-pause {
  display: none;
}

/* Helpbox modal */

#help-box {
  position: absolute;
  top: 0;
  left: 15%;
  width: calc(70% - 60px);
  height: calc(100% - 60px);
  z-index: 25;
  overflow-y: auto;
  background-color: #444;
  color: #CCC;
  text-align: left;
  padding: 30px;
  margin: 0;
  transform: scale(0);
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  cursor: default;
}
#help-box p {
  margin: 8px;
  font-size: 14px;
  line-height: 24px;
}
#help-box a, #help-box a:visited {
  color: #af7f7f;
  text-decoration: none;
}
#help-box a:hover, #help-box a:visited:hover {
  text-decoration: underline;
}

/* Mobile Portrait modal */

#rotate-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

#rotate-modal h2 {
  background-color: var(--marvel-red);
  color: white;
  font-size: 34px!important;
  padding: 5px 0!important;
  margin: 0px 0px 10px 0px;
}
#rotate-modal .marvel {
  font-size: 36px!important;
  padding-right: 15px!important;
}

#rotate-modal-img {
  position: relative;
  top: 25%;
  left: 0;
  min-width: 25%;
  max-width: 45%;
}

#rotate-modal p {
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: var(--marvel-red);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 0px;
}
#rotate-modal p small {
  font-size: 14px;
  text-transform: lowercase;
  padding: 15px 5px 5px 5px;
  display: inline-block;
  line-height: 20px;
}

@media (orientation: landscape) {
  #rotate-modal {
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }
  #rotate-modal p, #rotate-modal-img {
    height: 0;
  }
}

@media (orientation: portrait) {
  #rotate-modal {
    opacity: 1;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .logo {
    display: block;
    padding: 5px;
    height: 44px;
  }
  #sidebar, #controls, #comics-bar {
    display: none!important;
  }
  #explanations, #node-details {
    opacity: 0!important;
  }
  #loader {
    top: 20%;
    left: calc(50% - 25px);
  }
}

@media (orientation: portrait) and (min-height: 1000px) {
  #rotate-modal p {
    font-size: 24px;
  }
  #rotate-modal p small {
    display: none;
  }
}


/* -------- Responsiveness ------------*/

.show-middle {
  display: none;
}

@media (min-width: 700px) {
  #controls {
    left: 203px;
  }
  #search-icon {
    left: 210px;
  }
  #comics-bar {
    right: 0;
    transform-origin: right;
  }
}

@media (min-width: 1001px) {
  #controls {
    left: 305px;
  }
  #search-icon {
    left: 312px;
  }
  .large-bar {
    display: inline;
  }
  .small-bar {
    display: none;
  }
}

@media (min-width: 1001px) and (max-height: 600px) {
  .hide-small {
    display: none!important;
  }
}

@media (max-width: 1000px) and (max-height: 400px) {
  .show-middle {
    display: none!important;
  }
}

@media (max-width: 1000px) {
  .hide-small {
    display: none;
  }
  .show-middle {
    display: inline;
  }
  #sidebar, #choices, #credits {
    width: 198px;
  }
  #comics-bar {
    width: 232px;
  }
  #comics-filter {
    display: none;
  }
  h5 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  #explanations p, #node-extra {
    margin: 7px 8px;
  }
  #histo-legend .hidable {
    display: none;
  }
  #legend {
    line-height: 14px;
    font-size: 13px;
  }
  #loader {
    left: calc(50% + 75px);
  }
  .logo {
    height: 42px;
  }
  h1 {
    font-size: 20px!important;
    padding: 10px 0!important;
  }
  .marvel {
    font-size: 22px!important;
    padding-right: 7px!important;
    letter-spacing: -0.5px!important;
  }
  h2 {
    font-size: 14.6px;
    padding: 0px 2px;
  }
  .network-switch-label {
    width: 180px;
  }
  .toggle {
    width: 88px;
  }
  .names > div {
    font-size: 13px;
  }
  #view-comics, #view-node, #view-all-comics {
    font-size: 14px;
  }
  #sidebar, #comics-bar {
    font-size: 13px;
  }
  #comics-bar h3 {
    font-size: 14px;
  }
  #comics-subtitle-extra {
    display: none!important;
  }
  #comics-list li {
    padding: 2px;
  }
  .large-bar {
    display: none;
  }
  .small-bar {
    display: inline;
  }
}

@media (max-width: 700px) {
  #comics-bar {
    left: 0;
    transform-origin: left;
    bottom: 35px;
    height: calc(100% - 84px);
    width: 235px;
    border: 1px solid #333;
    border-radius: 0 6px 6px 0;
  }
  #controls {
    right: 5px;
  }
  #legend {
    transform: translateX(-159px);
  }
  #search-icon {
    right: 136px;
  }
}

@media (max-height: 400px) {
  h2 {
    font-size: 14.6px;
    padding: 0px 2px;
  }
  #comic-details {
    height: calc(100% / 3);
  }
  #comics-bar h3, #comics-list li {
    font-size: 13px!important;
  }
}

@media (max-height: 400px) and (max-width: 1000px) {
  h2 {
    font-size: 12px!important;
    padding: 0px 2px 2px 0!important;
  }
  .network-choice {
    margin-bottom: 6px;
  }
}

@media (max-height: 600px) {
  h2 {
    font-size: 14.6px;
    padding: 0px 2px;
  }
  #header {
    padding-bottom: 5px;
  }
  .network-choice {
    height: 22px;
    margin-bottom: 8px;
  }
  #choices {
    padding: 4px 0 6px 0
  }
  h5 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .logo {
    height: 42px;
  }
  h1 {
    font-size: 28px;
    padding: 4px 0;
    margin: 0 0 5px 0;
  }
  .marvel {
    font-size: 32px;
  }
  #sidebar, #comics-bar {
    font-size: 13px;
  }
  #comics {
    line-height: 18px;
  }
  #comics-list li {
    padding: 2px;
    font-size: 14px;
  }
  #loader-list img {
    top: 10px;
  }
  #modal-img {
    max-height: calc(100% - 15px);
    max-width: calc(100% - 15px);
    margin: 0;
  }
  #modal-actions {
    height: 100%;
  }
  #modal-actions button {
    position: absolute;
    margin: 5px;
  }
  #modal-previous {
    top: calc(50% - 17px);
    left: 0;
  }
  #modal-next {
    top: calc(50% - 17px);
    right: 0;
  }
  #modal-play, #modal-pause {
    bottom: calc(100% - 45px);
    left: 0;
  }
}


/* -------- Touch handling ------------*/

@media not (pointer: coarse) {
  .histobar-hover:hover {
    background-color: white;
    opacity: 0.25;
  }
  .desktop-details {
    display: inline;
  }
  .mobiles-details {
    display: none;
  }
  #loader-comics img {
    width: 25px;
  }
}

@media (pointer: coarse) {
  html, body {
    touch-action: pan-x, pan-y;
  }
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .histobar-hover.highlighted {
    background-color: white;
    opacity: 0.25;
  }
  input, textarea, button, select, a, label, div, p {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  #search input {
    display: none;
  }
  #suggestions-select {
    display: block;
  }
  #comics-cache {
    display: none!important;
  }
  .desktop-details {
    display: none;
  }
  .mobiles-details {
    display: inline;
  }
}

@media (pointer: coarse) and (max-height: 600px) and (max-width: 700px) {
  #loader-comics {
    bottom: 35px;
    right: 8px;
    padding: 0;
  }
}
