html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
}
#sidebar {
  width: 20%;
  min-width: 275px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  background-color: #222;
  color: #ec1d24;
  float: left;
  text-align: center;
}
h1 {
  width: 100%;
  background-color: #ec1d24;
  color: white;
  padding: 10px 0px;
  margin: 0;
}
#switch, #switch-size {
  display: block;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
}
#node-details {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
#node-label {
  margin: 0px 0px 5px 0px;
  width: 100%;
}
#node-img {
  max-width: 75%;
  max-height: 400px;
  cursor: pointer;
}
#node-extra {
}
#sidebar a, #sidebar a:visited {
  color: #ec1d24;
}
#footer {
  position: absolute;
  bottom: 0px;
  width: 20%;
  min-width: 275px;
}
#footer p {
  padding: 5px 0px;
  border-top: 1px solid #555;
  margin: 0;
}
#sigma-container {
  max-width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
  cursor: pointer;
}
#loader {
  position: absolute;
  top: 45%;
  left: 58%;
  z-index: 10;
  display: none;
}
#loader img {
  padding: 10px;
  opacity: 0.85;
}
#modal {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
#modal-img {
  padding: 10px;
  max-width: 99%;
  max-height: 99%;
  z-index: 20;
}
#controls {
  position: absolute;
  right: 1em;
  top: 1em;
  text-align: center;
  width: 112px;
}
.input {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.input:not(:hover) label {
  display: none;
}
.input button {
  width: 33px;
  height: 33px;
  display: inline-block;
  background: white;
  outline: none;
  border: 1px solid dimgrey;
  cursor: pointer;
}
#search {
  margin: 5px 1px;
}
#search input {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: monospace;
}
