:root {
  --marvel-red: #ec1d24;
  --marvel-red-dark: #ba0000;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
}
#sidebar {
  width: 300px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
  background-color: #222;
  color: grey;
  float: left;
  text-align: center;
}
#comics-bar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
  background-color: #222;
  color: grey;
  float: left;
  text-align: center;
}
#comics, #comic-details {
  padding: 5px;
  text-align: center;
  overflow-y: auto;
  line-height: 20px;
}
#comics {
  border-top: 1px dashed #444;
  overflow-x: hidden;
}
#comic-details {
  height: calc(100% / 2);
  border-top: 1px solid #444;
}
#close-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
  background: #eee;
  outline: none;
  border: 1px solid dimgrey;
  cursor: pointer;
  padding: 0;
}
#close-bar img {
  width: 20px;
  margin-top: 2px;
}
#comics-bar h3 {
  margin: 0;
  padding: 0px 4px 4px 4px;
}
#comics-title {
  font-size: 16px;
  color: var(--marvel-red);
  font-weight: bold;
  width: calc(100% - 42px);
  padding: 4px 4px 0px 4px!important;
}
#comics-subtitle {
  font-size: 15px;
}
#comics-list {
  display: contents;
}
#comics-list li {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  list-style-type: none;
}
#comics-list li:nth-child(even) {
  background: #2F2F2F;
}
#comics-list li:hover {
  background: var(--marvel-red-dark);
  color: white;
}
#comics-list li.selected {
  background: var(--marvel-red);
  color: white!important;
  font-weight: bold;
}
#comics-cache {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 5;
}
h1 {
  font-size: 26px;
  background-color: var(--marvel-red);
  color: white;
  padding: 10px 0px;
  margin: 0px 0px 10px 0px;
}
h2 {
  font-size: 16px;
  color: var(--marvel-red);
  margin: 0;
}
#explanations {
  clear: both;
  margin-top: 5px;
  padding: 5px 3px 0px 3px;
  overflow-y: auto;
  max-height: 60%;
  line-height: 13px;
}
#explanations p {
  margin: 7px;
}
#order {
  min-width: 20px;
  display: inline-block;
}
#clusters-legend b span {
  white-space: nowrap;
}
#node-details {
  clear: both;
  margin-top: 4px;
  padding: 5px;
  text-align: center;
  overflow-y: auto;
  max-height: 60%;
  border-top: 1px solid #444;
  line-height: 13px;
}
#node-label {
  margin: 7px 0px;
  width: 100%;
}
#node-img, #comic-img {
  max-width: 75%;
  max-height: 400px;
  cursor: pointer;
}
#comic-title {
  margin: 0;
}
#comic-img {
  max-width: 90%;
  padding-top: 5px;
}
#view-comics {
  background-color: var(--marvel-red);
  color: #DDD!important;
  border: 2px solid #111;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px!important;
  text-transform: uppercase;
}
#sidebar a, #sidebar a:visited, #comics-bar a, #comics-bar a:visited {
  color: #af4f4f;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 300px;
  line-height: 13px;
}
.footer p {
  font-size: 11px;
  padding: 2px 0px 7px 0px;
  border-top: 1px solid #444;
  margin: 0;
}
#sigma-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#sigma-container canvas {
  display: none;
}
#clusters-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clusterLabel {
  position: absolute;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 14px;
  text-align: center;
}
#loader {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% + 115px);
  z-index: 10;
  display: none;
}
#loader img {
  padding: 10px;
  opacity: 0.85;
  width: 50px;
}
#loader-comics {
  display: none;
}
#loader-comics img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
}
#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  cursor: pointer;
}
#modal-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#modal-img {
  max-width: 95%;
  max-height: 95%;
  z-index: 20;
  vertical-align: middle;
}
#controls {
  position: absolute;
  top: 1em;
  text-align: center;
  width: 150px;
}
#sigma-buttons {
  display: flex;
  vertical-align: middle;
}
#sigma-buttons button {
  flex: auto;
  width: 33px;
  height: 33px;
  margin: 2px;
  background: #eee;
  outline: none;
  border: 1px solid dimgrey;
  cursor: pointer;
  font-size: 15px;
  font-family: monospace;
  font-weight: bold;
  padding: 0;
}
#sigma-buttons button img {
  width: 20px;
  margin-top: 2px;
}
#regscreen {
  display: none;
}
#fullscreen {
  display: block;
}
@media all and (display-mode: fullscreen) {
  #regscreen {
    display: block;
  }
  #fullscreen {
    display: none;
  }
}
#search {
  margin: 2px;
}
#search input {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  background: #eee;
}
#suggestions-select {
  display: none;
  width: 146px;
}
/* -------- Switch Styles ------------*/
.choices .network-choice:last-child {
  margin-bottom: 0;
}
.choices .network-choice:first-child {
  margin-top: 0;
}
.choices {
  margin: 15px 0 10px 0;
}
.network-choice {
  display: flex;
  justify-content: center;
  position:relative;
  width: 100%; 
  margin-bottom: 10px;
  height: 28px;
}
label, .toggle {
  height: 100%;
  border-radius: 100px;
}
label {
  display: block;
  width: 210px;
  background-color: white;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 103px;
  background-color: var(--marvel-red);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin: -2px 0 0 -2px;
  border: 2px solid #222;
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.names > div {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}
.left, .right{
  width: 50%;
  text-align: center;
}
[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .network-switch-label .toggle {
  transform: translateX(100%);
}
.left {
  color: white;
}
.right {
  color: var(--marvel-red);
}
[type="checkbox"]:checked + .network-switch-label .left {
  color: var(--marvel-red);
}
[type="checkbox"]:checked + .network-switch-label .right {
  color: white;
}
#rotate-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
#rotate-modal h1 {
  font-size: 30px;
}
#rotate-modal img {
  position: relative;
  top: 25%;
  left: 0;
  max-width: 45%;
}
#rotate-modal p {
  display: block;
  position: absolute;
  bottom: 20%;
  left: 25%;
  width: 50%;
  background-color: var(--marvel-red);
  color: white;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0px;
}
@media (orientation: portrait) {
  #rotate-modal {
    display: block;
  }
  #sidebar, #controls {
    display: none;
  }
}
#title {
  display: block;
  padding-bottom: 5px;
  color: grey;
}
#credits, #title {
  display: block;
}
#credits-small {
  display: none;
}
@media (max-width: 700px) {
  #sidebar, .footer, #comics-bar {
    width: 200px;
  }
  h1 {
    font-size: 18px;
    padding: 5px;
  }
  .choices {
    margin: 5px 0 10px 0;
  }
  label {
    width: 180px;
  }
  .toggle {
    width: 88px;
  }
  .names > div {
    font-size: 12px;
  }
  #comics-title {
    font-size: 14px;
    width: calc(100% - 38px);
  }
  #comics-subtitle {
    font-size: 14px;
  }
  #comics-subtitle-extra {
    display: none!important;
  }
  #close-bar {
    width: 26px;
    height: 26px;
  }
  #comics-list li {
    padding: 2px;
  }
}
@media (max-height: 600px) {
  .network-choice {
    height: 20px;
  }
  .footer p {
    padding: 4px 0px;
  }
  h1 {
    font-size: 18px;
    padding: 5px;
  }
  .choices {
    margin: 5px 0 10px 0;
  }
  #credits-small {
    display: block;
  }
  #credits, .asterisk, #title {
    display: none;
  }
  #comics-title {
    font-size: 14px;
  }
  #comics-list li {
    padding: 2px;
  }
}
@media not (pointer: coarse) {
  #sidebar {
    margin-right: 2px;
  }
  #controls {
    right: 1em;
  }
  .desktop-details {
    display: inline;
  }
  .phones-details {
    display: none;
  }
}
@media (pointer: coarse) {
  #sidebar {
    float: right;
    margin-left: 2px;
  }
  #controls {
    left: 1em;
  }
  #loader {
    left: calc(50% - 185px);
  }
  #search input {
    display: none;
  }
  #suggestions-select {
    display: block;
  }
  #comics-cache {
    display: none!important;
  }
  .desktop-details {
    display: none;
  }
  .phones-details {
    display: inline;
  }
}
@media (pointer: coarse) and (max-height: 600px) {
  #controls {
    width: 116px;
  }
  #sigma-buttons button {
    width: 25px;
    height: 25px;
  }
  #suggestions-select {
    width: 112px;
  }
}
@media (pointer: coarse) and (max-width: 700px) {
  #loader {
    left: calc(50% - 135px);
  }
}
